  <!--- User Video box -->
<section id="localVideoContainer">
    <div class="pull-right">
    <video id="localVideo" autoplay="true" muted="true" ng-src="{{localVideo}}" style="{{localVideoTransform}}" showonhover>Your browser does not support HTML5 video.</video>
    <div id="localControl" hideonleave>
        <button class="videoMute btn btn-default" ng-click="room.admin('vmute', activeUsername.username)">
            <i class="fa fa-eye fa-2x" ng-if="!room.status.vmuted" title="stop video"></i>
            <i class="fa fa-eye-slash fa-2x" ng-if="room.status.vmuted" title="start video"></i>
        </button>
        <button class="audioMute btn btn-default" ng-click="room.admin('smute', activeUsername.username)">
            <i class="fa fa-microphone fa-2x" ng-if="!room.status.smuted" title="stop audio"></i>
            <i class="fa fa-microphone-slash fa-2x" ng-if="room.status.smuted" title="start audio"></i>
        </button>
    </div>
    </div>
</section>
 <!---end Video box -->
  <!--- chat user 1 -->
<section id="panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2> Users List </h2>
        </div>
        <div class="panel-body">
            <div class="chat-user">
                <ul class="chat">
                    <!--- chat user 1 -->
                    <li class="left clearfix" ng-repeat="user in allUserList" ng-click="connectUserRoom(user)" ng-class="{'contact_online':(user.roomId == openRoom) && user.roomId}">
                        <span class="chat-img pull-left">
                            <img data-ng-src="upload/profilesImg/{{user.profileImg}}" data-err-src="upload/profilesImg/avatar.jpg" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="user_title">
                                <h2> {{user.username}}
                                    <span class="status">{{onlineStatus.indexOf(user._id) != "-1" ? "online" : "offline"}} <i ng-class="{'online':onlineStatus.indexOf(user._id) != '-1'}" class="fa fa-circle" aria-hidden="true"></i> 
                                        <small class="block"> <span class="notifi"> 1 </span> </small>
                                    </span>
                                </h2>
                            </div>
                            <p> Web Designer </p>
                        </div>
                    </li>
                    <!--- end chat user 1 -->

                </ul>
            </div>


        </div>
    </div>
</section>