<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <div class="login_content">
            <div class="login_title">
                <h1>Welcome to TechHive <br/>Video chat</h1>
                <p><i>it's free</i></p>
            </div>
            <div class="login_form">
                <div class="default_user">
                    <img src="app/assets/images/user.png" alt="Custome user">
                </div>
                <div class="main_form">
                    <form>
                        <div class="form-group">
                            <label for="email"><img src="app/assets/images/mail.png"/></label>
                            <input ng-model="login.userName" type="text" class="form-control1" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="pwd"><img src="app/assets/images/lock.png"/></label>
                            <input ng-model="login.userPassword" type="password" class="form-control1" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"> Remember me</label>
                        </div>
                        <button ng-click="loginUser()" class="btn btn-default1">LOGIN</button>
                    </form>
                    <div class="form_seprator">
                        <span>OR</span>
                    </div>
                </div>
            </div>
            <div class="form_signup">
                <a href="#/registration"> <button type="button" class="btn btn-default2"> Create an account </button></a>
            </div>
        </div>
    </div>
</div>
