body {
	
	background:url(../images/16.jpg) repeat left top;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 51px;
	-webkit-transition: background 1.5s linear;
	-moz-transition: background 1.5s linear;
	-o-transition: background 1.5s linear;
	-ms-transition: background 1.5s linear;
	transition: background 1.5s linear;
}
/*body::before {
    background-color: rgba(24, 41, 61, 0.9);
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}*/
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse {
    background-color: #1772b0;
    border-color: #1772b0;
}
#content {
	background-color: rgba(255,255,255,0.7);
	margin: auto;
	position: absolute;
	top: 45px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	min-width:500px;
	min-height:300px;
	max-width:800px;
	max-height:500px;
}
.form-control {
	margin: auto;
	max-width:300px;
	margin-top: 5px;
}
.btn-large {
	font-size: 175%;
	margin: auto;
	width:200px;
	height:100px;		
	position: absolute;
	top: 50%;
	bottom: 0px;
	left: 0px;
	right: 0px
}
.list-group {
	top: 100px;
	position: absolute;
	width:300px;
	background-color: rgba(255,255,255,0.5)
}
#title {
	font-size: 300%;
	margin: auto;
	margin-top: 10%;
	text-align: center;
}

#messageLog {
	width: -webkit-calc(100% - 320px);
	height:90%;
	background-color: rgba(255,255,255,0.5);
	resize: none;
	overflow-y: auto;
	scroll-top: 10000;
}
#messageBox {
	width: -webkit-calc(100% - 320px);
	height:10%;
	position: absolute;
	bottom:0;
	left:0;
}
video {
	width:auto;
	height:auto;
}
#localVideo {
	width:320px;
	height:240px;
	position: absolute;
	bottom:0;
	right:0;
}
#localVideoContainer {
    display: inline-block;
    height: 252px;
    position: relative;
    width: 100%;
}
#localControl {
	width:320px;
	height:240px;
	background: black;
	position: relative;
	bottom:0;
	right:0;
	opacity:.5;
	display: none;
}
.videoMute {
	margin: auto;	
	position: absolute;
	bottom: 10%;
	left: 31%;
	width: 62px;
	height: 62px;
}
.audioMute {
	margin: auto;
	position: absolute;
	bottom: 10%;
	right: 31%;
	width: 62px;
	height: 62px;
}
.fa {
	line-height: inherit;
}
#videos {
    border: 1px solid #555;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}
#videoBackground {
	float: left;
	margin: 10px;
}
#panel {
	float: right;
	height: -webkit-calc(100% - 240px);
	width: 320px;
}
.action {
	cursor: pointer;
}
#panel .panel { background: rgba(255, 255, 255, 0.28); }
#panel .panel-body {
    height: 370px;
    background: rgba(255, 255, 255, 0.28);
    overflow: auto;
}

/*=======================Log in Page===============================*/
.login_content { margin-top: 7%; }
.login_title { color: #fff; width: 100%; display: inline-block; }
.login_title h1 { color: #fff; margin: 0; text-align: center; }
.login_title p { color: #fff; padding: 5px 0; font-size: 40px; text-align: center; }
.login_form { border: 2px solid #fff; border-radius: 4px; padding: 10px; }
.default_user { display: inline-block; padding: 10px 0; text-align: center; width: 100%; }
.form-control1 { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background-color: transparent; background-image: none; border-color: -moz-use-text-color -moz-use-text-color #ccc; border-image: none; border-radius: 0; border-style: none none solid; border-width: medium medium 2px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; color: #ffffff; display: block; font-size: 14px; height: 34px; line-height: 1.42857; padding: 6px 12px 6px 43px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; width: 100%; }
.main_form .form-group { position: relative; width: 100%; display: inline-block; padding: 10px 0; }
.main_form .form-group > label { bottom: 12px; position: absolute; }
.form-group img { width: 30px; }
.main_form { display: inline-block; padding: 0 20px; width: 100%; }
.btn-default1 { background-color: rgba(25, 114, 174, 0.8); border: medium none; color: #ffffff; font-size: 17px; margin: 19px 0; padding: 10px; text-transform: uppercase; width: 100%; }
.btn-default1:hover { background-color: rgba(25, 114, 174, 0.9); border: medium none; color: #ffffff; }
.btn-default2 { background-color: rgba(108, 156, 17, 0.8); border: medium none; color: #ffffff; font-size: 17px; margin: 19px 0; padding: 10px; text-transform: uppercase; width: 100%; }
.btn-default2:hover { background-color: rgba(108, 156, 17, 0.9); border: medium none; color: #ffffff; }
.form_signup { display: inline-block; padding: 30px 0; width: 100%; }
.main_form .checkbox > label { color: #ffffff; }
.form_seprator > span { background: #fff none repeat scroll 0 0; border-radius: 50px; color: #000; font-size: 20px; height: 50px; padding: 10px; position: relative; text-transform: uppercase; top: 25px; width: 50px; }
.form_seprator { text-align: center; }
.file_upload { padding-left: 50px; }
.upload_icon { top: 5px; }
.regi_form { padding: 20px 15px 10px 15px; }

/*=======================chat no-connection page===============================*/
.navbar-brand { color: #fff; font-size: 28px; line-height: 20px; padding: 5px; text-transform: capitalize; }
.main_header { width: 100%; display: inline-block; padding: 0 0 25px; background-color: rgba(0,0,0,0.8); }
.navbar-brand > img { display: block; float: left; height: 58px; }
.navbar-brand:hover { color: #ffffff; }
.user_search .form-group { margin: 0; position: relative; }
.navbar-brand > span { display: inline-block; padding: 15px 10px; font-size: 23px; }
.main-searchbox { border: 1px solid #ccc; color: #000; display: block; font-size: 14px; height: 45px; line-height: 1.42857; padding: 11px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; width: 100%; }
.main-searchbox1 { border: 1px solid #ccc; color: #000; display: block; font-size: 14px; height: 50px; line-height: 1.42857; padding: 11px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; width: 100%; }
.btn-search { background: transparent none repeat scroll 0 0; border-radius: 0; color: #000 !important; font-size: 23px; height: 45px; position: absolute; right: 0; top: 0; width: 50px; }
.navbar-nav > li > a { color: #fff; font-size: 27px; margin-top: 14px; padding-bottom: 10px; padding-top: 10px; }
.user_search { padding: 14px 0 0; }
.chat_logo { padding: 9px 0 0; }
.user-profile > img { border-radius: 100%; height: 50px; width: 50px; position: relative; top:5px; }
.user-profile { margin: 11px 14px 0 0; }
.dropdown-toggle.open-bar { background: rgba(245, 245, 245, 0.23) none repeat scroll 0 0 !important; }
.dropdown-menu { padding: 0; border-radius: 0; }
.dropdown-menu > li > a {
    clear: both;
    border-bottom: 1px solid #ccc;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 8px 20px;
    white-space: nowrap;
}
.nav li.user-profile > a {
    font-size: 16px;
    padding: 5px;
}
.nav li.user-profile > a:hover { background: transparent;  }
.log-out {  color: #000 !important; cursor: pointer; }
#btn-chat { border-radius: 0; height: 50px; }
.chat { margin: 0; padding: 0; background:#9aa1a2; }
.chat-body { color: #fff; margin: 0 0 0 78px; }
.chat li { display: inline-block; list-style: outside none none; width: 100%; }
.chat-img .img-circle { height: 60px; width: 60px; }
.header .primary-font { font-size: 20px; }
.table i {
    color: #000;
    font-size: 25px;
}
/*=======================chat main page===============================*/
.chat-user {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    margin-top: 0px;
}
.panel-heading > h2 {
    margin: 0;
}
.bg-primary > h2 {
    padding: 6px 12px;
}
.chat li { border-bottom: 1px solid rgba(0, 0, 0, 0.6); box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.16); padding: 10px 12px 8px; cursor: pointer; }
.status { float: right; font-size: 13px; text-transform: capitalize; }
.status i { font-size: 15px; left: 3px; position: relative; top: 1px; }
.status i.online { color: #5E9E27; }
.status i.offline { color: #FF0000; }
.user_title h2 { font-size: 15px; margin-top: 4px; }
.chat-body p { font-size: 15px; color: #000; }
.notifi { background: #ffc000; border-radius: 50%; color: #fff; font-size: 14px; height: 30px; line-height: 20px; padding: 6px; position: absolute; right: 10px; text-align: center; top: 10px; width: 30px; }
.block { display: block; position: relative; }
.chatbox { background: rgba(255, 255, 255, 0.28); }
.chatbox_panel > h2 { margin: 0px; font-size: 22px; }
.title_chat_img .img-circle { height: 50px; width: 50px; border: 2px solid #5E9E27; }
.chatbox_panel { background: #1772b0 none repeat scroll 0 0; color: #ffffff; display: inline-block; padding: 10px 15px; width: 100%; margin-bottom: 10px; }
.title_chat_img { margin-right: 10px; }
.chatbox_panel .status { float: left; }
.chatbox_panel .status i { margin-right: 10px; }
.msg1, .msg2 { background: #D9D8D8; color: #000; padding: 10px; width: 80%; margin: 10px 0px; display: block; }
.msg2 { float: right; border-radius: 3px; position: relative; right: 11px; }
.msg1 { border-radius: 3px; float: left; position: relative; left: 11px; }
/*.msg1::after { border-bottom: 22px solid rgba(0, 0, 0, 0); border-right: 23px solid #d9d8d8; border-radius: 0; bottom: -9px; content: " "; height: 0; left: -14px; position: absolute; width: 0 }
.msg1::before { border-right-color: #bd0102; }*/

.msg2:after { left: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(136, 183, 213, 0); border-left-color: #d9d8d8; border-width: 10px; margin-top: -10px; }
.msg1:after { right: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(136, 183, 213, 0); border-right-color: #d9d8d8; border-width: 10px; margin-top: -10px; }
.chat_panel { display: inline-block; width: 100% !important; font-family: 'Lato', sans-serif; height: 171px; overflow-x: hidden; overflow-y: auto; }
.contact_online { background: #1772B0; }
.chat_panel small { color: #666; font-size: 11px; }
.flaeQ.pD { display: block; }
.Bb .flaeQ { bottom: -1px; position: absolute; right: -1px; }
.pD { background-color: red; opacity: 1; }
.flaeQ { background-repeat: no-repeat; border: medium none; border-radius: 50%; display: none; height: 10px; opacity: 0; width: 10px; }
.chatbar a { color: #fff; }
.chatbar .fa-users { margin: 3px 0px; }
.chatbar { background: #1772b0 none repeat scroll 0 0; color: #fff; display: inline-block; left: 0; padding: 5px 8px; position: absolute; top: 9px; cursor: pointer; transform: rotate(270deg); display: none; }
 
 @media only screen and (max-width:520px) {
.chatbar { display: block; }
.navbar-brand { display: block; width: 100%; }
.navbar-brand > span { display: block; font-size: 22px; margin-left: 21px; width: 100%; }
.chatbox { margin: 59px 0px; }
.user-profile { margin: 0 20px 0 0; position: absolute !important; right: -2px; }
.user-profile > img { border-radius: 100%; height: 40px; position: relative; top: 2px; width: 40px; }
.chat-user { background: #9aa1a2 none repeat scroll 0 0; left: -150%; top: -8px; position: absolute; transition: all 0.6s ease 0s; z-index: 100; }
.chat_toggle { left: 0% !important; }
.main-searchbox { border: 1px solid #ccc; color: #000; display: block; font-size: 13px; height: 30px; line-height: 1.42857; padding: 5px 7px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; width: 100%; }
.user_search { margin: 51px 21px 12px; }
.navbar-brand > img { display: block; height: 58px; margin: 0 auto; float: none; text-align: center; width: 70px; }
.btn-search { background: transparent none repeat scroll 0 0; border-radius: 0; color: #000 !important; font-size: 20px; height: 30px; position: absolute; right: 0; top: -7px; width: 40px; }
.navbar-nav > li > a { color: #fff; font-size: 25px; padding-bottom: 10px; padding-top: 10px; }
}
.chat-profile-pic{border-radius: 15px; height: 37px;}
