body {
	font-family: Calibri Light;
	background:url(../images/bg.jpg) #DDD no-repeat left top;
	background-size: 100%;
	background-attachment: fixed;
	padding-top: 51px;
	-webkit-transition: background 1.5s linear;
	-moz-transition: background 1.5s linear;
	-o-transition: background 1.5s linear;
	-ms-transition: background 1.5s linear;
	transition: background 1.5s linear;
}
#content {
	background-color: rgba(255,255,255,0.7);
	margin: auto;
	position: absolute;
	top: 45px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	min-width:500px;
	min-height:300px;
	max-width:800px;
	max-height:500px;
}
.form-control {
	margin: auto;
	max-width:300px;
	margin-top: 5px;
}
.btn-large {
	font-size: 175%;
	margin: auto;
	width:200px;
	height:100px;		
	position: absolute;
	top: 50%;
	bottom: 0px;
	left: 0px;
	right: 0px
}
.list-group {
	top: 100px;
	position: absolute;
	width:300px;
	background-color: rgba(255,255,255,0.5)
}
#title {
	font-size: 300%;
	margin: auto;
	margin-top: 10%;
	text-align: center;
}
#bottom {
	width:100%;
	height:240px;
	position: absolute;
	bottom:0;
	right:0;
}
#messageLog {
	width: -webkit-calc(100% - 320px);
	height:90%;
	background-color: rgba(255,255,255,0.5);
	resize: none;
	overflow-y: auto;
	scroll-top: 10000;
}
#messageBox {
	width: -webkit-calc(100% - 320px);
	height:10%;
	position: absolute;
	bottom:0;
	left:0;
}
video {
	width:auto;
	height:auto;
}
#localVideo {
	width:320px;
	height:240px;
	position: absolute;
	bottom:0;
	right:0;
}
#localVideoContainer {
	position: absolute;
	bottom:0;
	right:0;
}
#localControl {
	width:320px;
	height:240px;
	background: black;
	position: absolute;
	bottom:0;
	right:0;
	opacity:.5;
	display: none;
}
.videoMute {
	margin: auto;	
	position: absolute;
	bottom: 10%;
	left: 31%;
	width: 62px;
	height: 62px;
}
.audioMute {
	margin: auto;
	position: absolute;
	bottom: 10%;
	right: 31%;
	width: 62px;
	height: 62px;
}
.fa {
	line-height: inherit;
}
#videos {
	float: center;
	display: inline-block;
	margin: 0 1em 0 1em;
}
#videoBackground {
	float: left;
	margin: 10px;
}
#panel {
	float: right;
	background-color: rgba(200,200,255,0.5);
	height: -webkit-calc(100% - 240px);
	width: 320px;
	padding: 20px;
}
.action {
	cursor: pointer;
}

/*=======================Log in Page===============================*/
.login_content { margin-top: 7%; }
.login_title { color: #fff; width: 100%; display: inline-block; }
.login_title h1 { color: #fff; margin: 0; text-align: center; }
.login_title p { color: #fff; padding: 5px 0; font-size: 40px; text-align: center; }
.login_form { border: 2px solid #fff; border-radius: 4px; padding: 10px; }
.default_user { display: inline-block; padding: 10px 0; text-align: center; width: 100%; }
.form-control1 { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background-color: transparent; background-image: none; border-color: -moz-use-text-color -moz-use-text-color #ccc; border-image: none; border-radius: 0; border-style: none none solid; border-width: medium medium 2px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; color: #ffffff; display: block; font-size: 14px; height: 34px; line-height: 1.42857; padding: 6px 12px 6px 43px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; width: 100%; }
.main_form .form-group { position: relative; width: 100%; display: inline-block; padding: 10px 0; }
.main_form .form-group > label { bottom: 12px; position: absolute; }
.form-group img { width: 30px; }
.main_form { display: inline-block; padding: 0 20px; width: 100%; }
.btn-default1 { background-color: rgba(25, 114, 174, 0.8); border: medium none; color: #ffffff; font-size: 17px; margin: 19px 0; padding: 10px; text-transform: uppercase; width: 100%; }
.btn-default1:hover { background-color: rgba(25, 114, 174, 0.9); border: medium none; color: #ffffff; }
.btn-default2 { background-color: rgba(108, 156, 17, 0.8); border: medium none; color: #ffffff; font-size: 17px; margin: 19px 0; padding: 10px; text-transform: uppercase; width: 100%; }
.btn-default2:hover { background-color: rgba(108, 156, 17, 0.9); border: medium none; color: #ffffff; }
.form_signup { display: inline-block; padding: 30px 0; width: 100%; }
.main_form .checkbox > label { color: #ffffff; }
.form_seprator > span { background: #fff none repeat scroll 0 0; border-radius: 50px; color: #000; font-size: 20px; height: 50px; padding: 10px; position: relative; text-transform: uppercase; top: 25px; width: 50px; }
.form_seprator { text-align: center; }
.file_upload { padding-left: 50px; }
.upload_icon { top: 5px; }
.regi_form { padding: 20px 15px 10px 15px; }